@media only screen and (max-width: 766px){
    .btn{
    border-radius: 25px;
    margin: 10px 5px;
    padding: 5px 20px;
    font-size: 7px;  
}
    /* start-header */
.header{
    position: relative;  
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: transparent; 
}

.header .header-container {
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
    align-items: center;
    
}

.header .header-nav{
    display: none;
}

.header .header-logo{
    width: 180px;
    display: inline-block;
    margin: 0 auto;
}

.header-menu-btn {
    display: flex;
    width: 40px;
    height: 25px;
}

/* end-header */

/* start-banner */
.banner .banner-content h3{
    font-size: 35px;
}

.banner .banner-content p{
    font-size: 15px;
    margin-top: 10px
}

.banner .banner-top .banner-btn{
    margin-top: 25px;
}

.banner .banner-bot{
    display: none;
}

.banner .banner-content{
    margin-left: -200px;
    background-position: center;
    padding: 20px ;
}

/* end-banner */

/* start-why */
.why .why-top h3{
    font-size: 30px;
}
.why .why-top .why-top-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    gap: 20px;
    width: 100%;
}

.why .why-bot img{
    width: 334px;
    height: 137px;
    align-items: center;
    text-align: center;
}

.why .why-bot-text{   
  display: flex;
  flex-direction: column;
  gap: 10px 30px;
  padding: 20px 40px;
}
/* end-why */

/* start-team */
.team .team-container{
    display: block;
}

.team .team-left img{
    width: 430px;
    height: 410px;
}

.team .team-right{
    padding: 20px;
    text-align: center;
}

.team .team-right h3{
    font-size: 30px;
    text-align: center;
    margin-right: 0px;
}

.team-right .team-right-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    margin-top: 40px;
    margin-bottom: 30px;
    gap: 40px;
}

.team-right .team-right-info p{
    color: #4962FD;
    margin-left: 10px;
}

.team-right .btn-contactus {
    background-color: rgb(247, 67, 113);
    color: white;
    padding: 20px 50px;
    border: none;
    box-shadow: 10px 10px;
    font-size: 15px;
}


/* end-team */

/* start-number */
.number .number-container{
    display: block;
}

.number .number-right img{
    width: 430px;
    height: 410px;
    margin-top: -30px;
}

.number .number-left h3{
    font-size: 35px;
    text-align: center;
}

.number .number-left p{
    font-size: 14px;
    text-align: center;
}


.number-left .number-btn{
    display: flex;
    justify-content: center;
    margin-top: -50px;

}

.number-left .btn-contactus {
    background-color: rgb(247, 67, 113);
    color: white;
    padding: 20px 50px;
    border: none;
    box-shadow: 10px 10px;
    font-size: 15px;
}
/* end-number */
}