.body{
    font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
}

.btn{
    border-radius: 25px;
    margin: 20px 10px;
    padding: 10px 40px;
    font-size: 15px;  
}

@keyframes updown{
    0%{transform:  translateY(0px) rotate(90deg);}
    50%{transform: translateY(30px) rotate(90deg);}
    100%{transform: translateY(0px) rotate(90deg);}
}
/* start-header */
.header {
    position: absolute;  
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: transparent; 
}

.header .header-container {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    
}

.header .header-logo{
    width: 200px;
}

.header .header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;;
}

.header-nav a{
    color: #333bd5;
    padding: 0 10px;
    font-weight: bold;
}

.header-menu-btn {
    display: none; 
    cursor: pointer;
}

/* end-header */

/* start-banner */
.banner{
    background-image: url(../../assets/images/banner-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    
}

.banner .banner-container{
    display: flex;
    justify-content: center;
}

.banner-top{
    text-align: center;
}


.banner-top h3{
    font-size: 50px;
    text-align: center;
    color:#4989fd;
    margin-top: 100px;

}

.banner-top h3 span{
    color: #0c117b;
}

.banner-top p{
    font-size: 16px;
    color:#adadc1;
    margin: 50px;
    text-align: center;
}

.banner-top .btn-services{
    background-color: rgb(247, 67, 113);
    color: white;
    font-weight: bold;
}

.banner-top .btn-learn{
    border: 2px solid rgb(12, 17, 123);
    color: rgb(12, 17, 123);
    font-weight: bold;
}

.banner-bot{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
}

.banner .banner-bot-left{
    justify-content: left;
    margin-top: 220px;
    display: flex;
    gap: 20px;
}

.banner .banner-bot-left .banner-bot-left-title{
    font-size: 17px;
    color: #626262;
    font-weight: 700;
}

.banner .banner-bot-left .banner-bot-left-phone{
    font-size: 20px;
    color: #4989fd;
    font-weight: 700;
}

.banner .banner-bot-right{
    justify-content: right;
    margin-top: 230px;
    display: flex;
    gap: 20px;
}

.banner .banner-bot-right p{
    font-size: 16px;
    color: #626262;
    font-weight: 700;
}

.banner .banner-bot-right .social-link{
    width: 100px;
    height: 100px;
    background-color: #4989fd;
    color: #ffffff;
    font-weight: 700;
    border-radius: 50%;
    align-items: center;
    text-decoration: none;
    padding: 12px 12px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.banner .scroll-text {
  position: absolute; 
  right: 0px;
  top: 50%;
  transform: rotate(90deg); 
  transform-origin: center;
  font-size: 14px;
  font-weight: bold;
  color: #4989fd;
  animation: updown 2s infinite alternate ease-in-out;
}

/* end-banner */

/* start-number */
.number .number-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 100px 80px;
    gap: 50px;
}

.number .number-left img{
    max-width: 510px;
    height: 455px;
}

.number .number-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.number .number-right h3{
    font-size: 58px;
    color: #0c117b
}

.number .number-right-text{
    font-size: 14px;
    color: #ADADC1;
}

.number .number-stats {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.number .number-box-stats{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.number-box-stats .number-box-stats-icon{
    color: black;
    font-weight: bold;
}

.number-box-stats .count-1{
    font-size: 42px;
    color: #15c68f;
}

.number-box-stats .count-2{
    font-size: 42px;
    color: #EE9C32;
}

.number-box-stats .count-3{
    font-size: 42px;
    color: #0C117B;
}

.number-box-stats .number-box-stats-text{
    font-size: 15px;
}

/* end number */
/* start-why */
.why .why-top{
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 50px 50px 10px 50px;
}

.why .why-top img{
    padding: 10px 15px;
    margin: 10px;
    background: rgba(0, 0, 0, .01);
    text-align: center;
    line-height: 0;
    height: 100px;
    line-height: 75px;
    position: relative;
    filter: grayscale(100%);
    opacity: 1;
    transition: all 0.4s ease-in-out,transform 0.3s ease;
}

.why .why-top img:hover{
    filter: grayscale(0%);
    transform: scale(1.05);
}

.why .why-bot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px 80px;
}

.why .why-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.why .why-left img{
    width: 490px;
    height: auto;
}

.why .why-right{
    display: block;
}

.why .why-right h3{
    font-size: 58px;
    color: #0c117b;
    margin-top: -20px;
    margin-bottom: 30px
}

.why .why-intro-text {
    font-size: 16px;
    color: #626262;
    line-height: 20px;
    margin-bottom: 20px;
}

.why .why-right ul {
  list-style: none; 
  padding: 0;
  margin-bottom: 50px;
}

.why .why-stats-text {
  list-style: none;   
  padding: 0;
  margin: 0;
}

.why .why-stats-text li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 20px;
  line-height: 1.6;
  margin-left: 20px;
  color: #626262;
}

.why .why-stats-text li::before {
  content: "✔";
  position: absolute;
  left: 0;             
  top: 0;
  color: black;
  font-weight: bold;
}


.why-bot .btn-moreaboutus{
    background-color: rgb(247, 67, 113);
    color: white;
    font-weight: bold;
    padding: 15px 40px;
    margin-left: -3px;
}

/* end-why */
/* start-team */
.team{
    background-image: url(../../assets/images/team-background.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 25px;
    text-align: center;
}

.team .team-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 100px 80px;
    gap: 50px;
    align-items: center;
}

.team .team-top h3{
    font-size: 58px;
    line-height: 1;
    padding-bottom: 25px;
}

.team .team-top p{
    font-size: 15px;
    text-align: center;
    line-height: 1.5;
}

.team .team-mid{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
}

.team .team-mid img{
    width: 105px;
    height: 105px;
}

.team .team-mid-info{
    text-align: center;
    line-height: 1.4;
}

.team-mid-info .team-mid-title{
    font-size: 16px;
    text-align: center;
    padding: 20px;
    color: #ffffff;
}

.team-mid-info .team-mid-text{
    font-size: 14px;
    text-align: center;
    color: #4e579b;
}

.team-bot .btn-allservices{
    background-color: rgb(247, 67, 113);
    color: white;
    font-weight: bold;
    padding: 15px 40px;
    margin-left: -3px;
}
/* end-team */