@media only screen and (max-width: 766px){
.btn{
    border-radius: 25px;
    margin: 10px 5px;
    padding: 5px 20px;
    font-size: 7px;  
}
    /* start-header */
.header{
    position: relative;  
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: transparent; 
}

.header .header-container {
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
    align-items: center;
    
}

.header .header-nav{
    display: none;
}

.header .header-logo{
    width: 180px;
    display: inline-block;
    margin: 0 auto;
}

.header-menu-btn {
    display: flex;
    width: 40px;
    height: 25px;
}
/* end-header */

/* start-banner */
.banner .banner-top h3{
    font-size: 22px;
    margin-top: 50px;
}

.banner .banner-top p{
    display: none;;
}

.banner .banner-top .banner-btn{
    margin-top: 25px;
}

.banner .banner-bot{
    display: none;
}

.banner{
    padding: 5px 20px 180px 20px;
    background-position: center;
}

.banner .scroll-text {
  display: none;
}
/* end-banner */ 
/* start-why */
.why{
    padding: 50px 20px;
    text-align: center;
}

.why .why-top{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.why .why-top img {
    width: 138px;
    height: 75px;
     
}

.why .why-bot{
    display: block;
}

.why .why-left img{
    width: 430.4px;
    height: auto;

}
.why .why-right{
    display: block;
    margin-left: -50px;
}

.why .why-right h3{
    display: inline-block;
    font-size: 35px;
    padding-top: 80px;
    text-align: left;
    margin-left: -10px;
}

.why .why-intro-text {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
    text-align: left;
    padding-left: -100px;
}

.why .why-right ul {
    text-align: left;
    margin-bottom: 30px;
}
.why .why-stats-text li {
    font-size: 14px;
    line-height: 18px;
    margin-left: 15px;
    text-align: left;
    padding-left: -100px;
    margin-bottom: 15px;
    color: #626262;
}

.why-bot .btn-moreaboutus{
    font-size: 12px;
    padding: 10px 20px;
    margin-left: -130px;
}

.why-bot .why-left img{
    width: 335px;
    height: 298px;
}
/* end-why */
/* start-team */
.team{
    padding: 50px 20px;
    text-align: center;
}

.team .team-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.team .team-top h3{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 0 10px;
}

.team .team-mid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.team .team-top p {
    font-size: 12px;
}

.team-mid .team-mid-text {
    font-size: 13px;
    text-align: center;
}
/* end-team */

/* start-number */
.number{
    padding: 50px 20px;
    text-align: center;
}

.number .number-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.number .number-left img{
    width: 335px;
    height: 298px;
}

.number .number-right h3{
    font-size: 40px;
}

.number-right .number-right-text{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
}

.number-stats .number-box-stats{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
    font-size: 25px;
}

.number-box-stats .count-1{
    font-size: 30px;
}

.number-box-stats .count-2{
    font-size: 30px;
}

.number-box-stats .count-3{
    font-size: 30px;
} 
/* end-number */
}

